#psynet@git+https://gitlab.com/PsyNetDev/PsyNet@master#egg=psynet

# Alternatively, you can use one of the following syntaxes to specify a custom PsyNet version
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@v10.4.0#egg=psynet
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@45f317688af59350f9a6f3052fd73076318f2775#egg=psynet
# psynet@git+https://gitlab.com/PsyNetDev/PsyNet@45f31768#egg=psynet

repp@git+https://repp:tvKi4cirMxgnuf9s4Vma@gitlab.com/computational-audition/repp@master#egg=repp
matplotlib


#psynet@git+https://gitlab.com/PsyNetDev/PsyNet@v13.0.0#egg=psynet

#psynet@git+https://gitlab.com/PsyNetDev/PsyNet@v12.1.1#egg=psynet
#dallinger==11.3.2

psynet==13.1.1

